img{
    height:300px;
    width:300px;
    cursor:pointer;
}
.header{
    background-color:rgb(125, 125, 139);
    margin-top:0%;
    text-align: center;
    height:150px;
    width:100%;
     padding-top:10px;
     padding-bottom:10px;
}
.bg{
    background-color:rgb(125, 125, 139);
    margin-top:0%;
    text-align: center;
    height:110px;

    width:100%;
     padding-top:10px;
     padding-bottom:10px;
}
footer{
    background-color:rgb(125, 125, 139);
	color: white;
	padding-top: 35px;
	padding-bottom: 35px;
	margin-top: 35px;
    text-align:left;
}
ul{
    
    
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        cursor: text;
    
}
ul li a{
	text-decoration: none;
	
	color: #adadad;
	display: inline;
	margin-bottom: 5px;
     
    font-style:italic;
    font-size: 18px;
}
td{
    padding-right:20em;
    
}
.responsive{
    display: block;
     max-width: 100%; 
      height: auto; 

}
img:hover{
    color: #006600;
}